.date-picker {
  background-color: transparent;
  padding: var(--chakra-space-2);
  font-size: var(--chakra-fontSizes-sm);
  font-weight: var(--chakra-fontWeights-normal);
  line-height: var(--chakra-lineHeights-normal);
  color: var(--chakra-colors-gray-700);
  border: 1px solid var(--chakra-colors-gray-300);
  border-radius: var(--chakra-radii-md);
}

.react-datepicker-popper {
  z-index: 1000 !important;
}
